<%  
    lang = vars.L || 'et';
    translations = result.data;
    rebuild = [];

    translations.forEach(function(t){
        if (!t.lang) {
            langContent = query('tr', {select: "content", where: "lang=LA:label=LB", LA: lang, LB: t.label}).data[0];
            translatedContent = ( langContent ? langContent.content : '' );
            rebuild.push({ lang: null, label: t.label, original: t.content, content: translatedContent });
        }
    });
%>
<!DOCTYPE html>
<html>
    <head>
        <title><!tiitel>Zazler translation<!></title>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
        <style type="text/css">
            /* default color #05a5c5 */
            * { font-family: sans-serif; }
            html, body, .container { height: 100%; width: 100%; margin: 0; padding: 0; }
            table { width: 100%; }
            table th { text-align: center; padding: 5px 0; border-bottom: 1px solid #05a5c5;}
            textarea { height: 100px; margin: 0; box-sizing: border-box; float: left;}
            textarea#original-content { width: 50%; }
            textarea#new-content { width: 50%; }
            div.change { position: fixed; bottom: 0; left: 0; width: 100%;}
            tr:hover td { background-color: #f1f2f3; cursor: pointer; }
            button { float: right; }
        </style>
        <script type="text/javascript">
            $(function(){
                var label;

                $('.getTranslations').click(function(){
                    var transl = prompt("Sisestage url, millelt tõlked tõmmata!", "");
                    if (transl) {
                        if (validUrl(transl)) {
                            if (!hasParameter(transl)) {
                                transl += getSeparator(transl) + "showTranslations=1";
                            }
                        }
                        console.log(transl);

                        $.getJSON(transl, function(json){
                            var rpc = new XMLHttpRequest();
                                rpc.open('POST','tr.json');
                                rpc.send(JSON.stringify(json));
                                document.location.reload();
                        });
                    }
                });

                $('tr.label').click(function(){
                    var content = $('#new-content').val(); console.log(content);
                        if (content.length == 0) {
                            label = $(this).data('label');
                            $('#new-content').text($('.' + label + '-content').text()).prop("disabled", false);
                            $('#original-content').text($('.' + label + '-original').text());
                        } else {
                            var rpc = new XMLHttpRequest();
                                rpc.open('POST','tr.json');
                                rpc.send(JSON.stringify([{lang: '<%=lang%>', label: label, content: content}]));
                                document.location.reload();
                        }

                })
            });
            function validUrl ( str ) {
                if(!/(http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/.test(str)) {
                    return false;
                } else {
                    return true;
                }
            }
            function hasParameter ( url ) {
                if (!/(\?|&)showTranslations=1(\&| ?)/.test(url)) {
                    return false;
                } else {
                    return true;
                }
            }

            function getSeparator ( url ) {
                if (/\?/.test(url)) {
                    return "&";
                } else {
                    return "?";
                }
            }
        </script>
    </head>
    <body>
        <div class="container">
            
            <table>
                <thead>
                    <tr>
                        <th><!label>label<!></th>
                        <th><!original>original<!></th>
                        <th><!content>content<!>
                            <button class="getTranslations">Tõmba tõlked</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% rebuild.forEach(translationRow); %>
                </tbody>
            </table>

            <div class="change">
                <textarea id="original-content" disabled="disabled"></textarea>
                <textarea id="new-content" disabled="disabled"></textarea>
            </div>

        </div>
    </body>
</html>

<% function translationRow (t) { %>
    <tr class="label" data-label="<%=t.label%>">
        <td class="label"><%=t.label%></td>
        <td class="<%=t.label%>-original"><%=t.original%></td>
        <td class="<%=t.label%>-content"><%=t.content%></td>
    </tr>
<% } %>