<% 
    var information = result.data; 
    
    // test data, selecting only 2 values from objects
    // test url select=count(*)@count,date(registered)@register&group=date(registered)

    var selection = {
        bottom: 'register',
        data: 'count'
    };
%>

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
    </head>
    <body>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div> 

        <script type="text/javascript">
            $(function () {
                $('#container').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Chart description'
                    },
                    subtitle: {
                        text: 'Site title'
                    },
                    xAxis: {
                        categories: JSON.parse('<%=JSON.stringify(information.map(function(o){ return o[selection.bottom]; }))%>'),
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'User count'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'new users',
                        data: JSON.parse('<%=JSON.stringify(information.map(function(o){ return o[selection.data]; }))%>')
                    }]
                });
            });
        </script>
    </body>
</html>